{
    "modid": "{{ mod_id }}",
    "name": "{{ mod_name }}",
    "author_list": ["{{ author }}"],
    "description": "{{ description }}",
    "version": "{{ version }}",
    "sts_version": "12-22-2020",
    "mts_version": "3.30.0",
    "dependencies": ["basemod"]
}
